:host {
  width: 100%;
  display: block;
}

.toolbar {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.logo {
  position: absolute;
  width: 136px;
  top: -96px;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar a svg {
  height: 40px;
  margin: 0 4px;
}

.toolbar a svg {
  opacity: 0.8;
}

footer {
  margin-top: 48px;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  background-color: #eee;
  width: 100%;
}

footer a {
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  margin: 0 auto;
  margin-top: -32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
  text-align: center;

  &.highlight-card {
    background-color: #1976d2;
    color: white;
    border: none;
    width: auto;
    max-width: 628px;
    min-width: 30%;
    line-height: 26px;
    font-size: 1.2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    padding: 2.2rem 16px 16px;
  }
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(black, 0.12);
}

.cover {
  background-image: url("/assets/cover_800.jpg");
  background-image: -webkit-image-set(
    url("/assets/cover_1200.jpg") 1x,
    url("/assets/cover_1900.jpg") 2x,
    url("/assets/cover_2400.jpg") 3x,
    url("/assets/cover_3200.jpg") 4x
  );
  background-image: image-set(
    url("/assets/cover_1200.jpg") 1x,
    url("/assets/cover_1900.jpg") 2x,
    url("/assets/cover_2400.jpg") 3x,
    url("/assets/cover_3200.jpg") 4x
  );
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 524px;
}

@media screen and (max-width: 767px) {
  .card-container > * {
    width: 100%;
  }
}
