<style></style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="brand">
    <img width="40" alt="Angular Logo" src="/assets/angular_white.svg" />
    <strong>Angular Lyon</strong>
  </div>
  <div class="spacer"></div>
  <span>Rejoindre le groupe</span>
  <div class="socials">
    <a
      aria-label="Angular Lyon on Twitter"
      href="https://twitter.com/angular_lyon"
      title="Angular Lyon on Twitter"
    >
      <img src="/assets/twitter.svg" alt="Twitter icon" />
    </a>
    <a
      aria-label="Angular Lyon on Slack"
      href="https://angular-lyon.slack.com/"
      title="Angular Lyon on Slack"
    >
      <img src="/assets/slack.svg" alt="Slack icon" />
    </a>
    <a
      aria-label="Angular Lyon on GitHub"
      href="https://github.com/angular-lyon"
      title="Angular Lyon on GitHub"
    >
      <img src="/assets/github.svg" alt="GitHub icon" />
    </a>
  </div>
</div>

<div class="cover" role="img"></div>

<div class="content" role="main">
  <div class="card highlight-card">
    <img alt="Angular Logo" class="logo" src="/assets/angular.svg" />
    <p>
      Animée par des développeurs passionnés, la communauté Angular Lyon se
      focus sur le partage d'expèrience, d'erreurs, et des bonnes pratiques.
    </p>
  </div>

  <h2>Évènements</h2>
  <p>Nos derniers évènements:</p>

  <div class="card-container">
    <a class="card" href="https://angular.io/tutorial">
      <span>Learn Angular</span>

      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </a>

    <a class="card" href="https://angular.io/cli">
      <span>CLI Documentation</span>

      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </a>

    <a class="card" href="https://blog.angular.io/">
      <span>Angular Blog</span>

      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </a>
  </div>

  <h2>Communauté</h2>
  <p>Notre focus au travers du groupe:</p>

  <input type="hidden" #selection />

  <div class="card-container">
    <div
      class="card card-small"
      (click)="selection.value = 'discussions'"
      tabindex="0"
    >
      <span>Discussions libres.</span>
    </div>

    <div
      class="card card-small"
      (click)="selection.value = 'talks'"
      tabindex="0"
    >
      <span>Talks sur des sujets associés à Angular.</span>
    </div>

    <div
      class="card card-small"
      (click)="selection.value = 'workshops'"
      tabindex="0"
    >
      <span>Workshops autour d'Angular.</span>
    </div>

    <div
      class="card card-small"
      (click)="selection.value = 'bring-your-problem'"
      tabindex="0"
    >
      <span>Ramène ton problème.</span>
    </div>
  </div>

  <div class="details" [ngSwitch]="selection.value">
    <span *ngSwitchDefault>Des discussions libres.</span>
    <span *ngSwitchCase="'talks'"
      >Des talks à propos d'Angular et son écosystème.</span
    >
    <span *ngSwitchCase="'workshops'"
      >La pratique au travers de travaux guidés.</span
    >
    <span *ngSwitchCase="'bring-your-problem'"
      >On réfléchi à une solution, puis on propose un workshop pour le
      résoudre.</span
    >
  </div>
</div>

<footer>
  <span>Communauté Angular Lyon.</span>
</footer>
